PORT=5000
# MONGODB_URI=mongodb://localhost:27017/feedants
# If MONGODB_URI is omitted or cannot be reached, the server seamlessly runs an in-memory MongoDB instance for development!
NODE_ENV=development
